/*
 * Adsense Code: http://photoboxone.com/
 */

.clearfix:before,
.clearfix:after{
	display: block;
	content: '';
	clear: both;
	height: 0;
	overflow: hidden
}

.adsense_code_settings{
	display: block
}
	.adsense_code_settings img{
		max-width: 100%;
		height: auto;
	}
	.adsense_code_settings em,
	.adsense_code_settings i{
		font-style: italic;
	}
	.adsense_code_settings strong,
	.adsense_code_settings b{
		font-weight: bold;
	}
	.adsense_code_advanced label{
		display: inline-block;
		min-width: 200px;
		max-width: 100%;
	}
	.adsense_code_advanced .inputbox{
		display: inline-block;
		width: 280px;
		max-width: 100%;
	}
	.adsense_code_advanced .textareabox {
		display: block;
		width: 90%;
		height: 70px;
	}
.adsense_code_settings .col-md-6{
	float: left;
	width: 50%;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@media screen and ( max-width: 766px )
{
	.adsense_code_settings .col-md-6{
		float: none;
		width: auto;
	}
}
.adsense_code_links{
	padding-bottom: 10px;
	min-height: 10px;
	height: 10px;
	height: auto !important;	
}
	.adsense_code_links li{
		display:block;
		float:left;
		padding-right: 15px;
		line-height: 20px
	}
		.adsense_code_links li img{
			vertical-align: middle;
		}
		.adsense_code_links li strong{
			font-weight: normal;
		}
		.adsense_code_links li em{
			font-style: none;
		}
.inline{
	display: inline;
}
.inline-block{
	display: inline-block;
}
.inline-table{
	display: inline-table;
}
.display-table{
	display: table;
}
.table-cell{
	display: table-cell;
}
